.container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.display-count {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 100px;
}


.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  margin: 0 5px;
  background-color: rgb(198, 238, 137);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: rgb(103, 138, 49);
}